@import 'custom';

//SECTION----------------------------------------> MENU
.menu {
  position: fixed;
  left: 0;
  top: $header-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  background-color: $second-color;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: $header-height/6;
  font-size: $header-height/2;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $first-color;
}

.menu a:hover {
  color: $white-color;
  background-color: $first-color;
}

.menu-btn {
  outline: thin solid $first-color;
  border: 0;
  cursor: pointer;
  background-color: $first-color;
}

.menu-btn svg {
  fill: $text-light-color;
  padding: 0.25rem;
}

//SECTION----------------------------------------> SPINNER
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 4rem auto;
  text-align: center;
  svg {
    height: 4.5rem;
    width: 4.5rem;
    fill: $first-color;
    animation: rotate 3s infinite linear;
  }
}

//SECTION----------------------------------------> ERROR
.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  align-items: center;
  gap: 1rem;
  display: flex;

  svg {
    height: 3rem;
    width: 3rem;
    fill: $first-color;
    transform: translateY(-0.3rem);
  }
}
//SECTION----------------------------------------> MAP
#map {
  height: 180px;
}

