$first-color: #00adb5;
$first-alpha-color: rgba(0, 173, 181, 0.75);

$second-color: #222831;
$second-alpha-color: rgba(13, 16, 19, 0.25);

$third-color: #ff2e63;
$third-alpha-color: rgba(255, 46, 99, 0.75);

$white-color: #eeeeee;
$white-alpha-color: rgba(238, 238, 238, 0.75);

$gray-color: #393e46;
$gray-light-color: rgba(215, 216, 218, 0.75);
$gray-dark-color: #2e3238;

$black-color: #222831;
$black-alpha-color: rgba(13, 16, 19, 0.25);

$link-color: #00adb5;

$title-color: #222831;
$text-color: #444;
$text-light-color: #eeeeee;

$font-family: 'Inter', sans-serif;

$max-width: 1200px;
$header-height: 3rem;
