/*SECTION----------------------------------------> IMPORTS */
@import 'custom';
@import 'components';
@import 'reset';
@import 'utilities';

.header {
  background-color: $first-color;
  color: $text-light-color;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: $header-height;
  padding: 0.25rem 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.header a {
  color: $text-light-color;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line__bimports {
  display: flex;
  flex-direction: column;
}

.line__etas {
  display: flex;
}

.line__etas div {
  width: 75px;
}

.line__label {
  font-weight: 700;
  color: var(--line-color);
}

.line__heading {
  font-weight: 300;
}

.main {
  padding: 0.5rem;
}

.stop-card {
  padding: 0.5rem;
}

.stop-card__container {
  min-width: 300px;
}

.stop-card__info {
  background-color: $white-alpha-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2.5%;
  h2 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 400;
  }
}

.stop-card__stop-number {
  font-size: 1.5rem;
  font-weight: 700;
}

.stop-card__lines {
  display: flex;
  flex-direction: column;

  padding: 0 15px;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.stop-card__line {
  border-bottom: thin solid $gray-light-color;
  display: grid;
  grid-template-columns: 50px 250px 70px;
  padding: 0.25rem;
  align-items: stretch;
}

.stop__search {
  padding: 0.5rem;
  padding-bottom: 1.25rem;
  color: $text-color;
  background-color: $first-alpha-color;
  input {
    @include box-shadow-1;
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border: thin solid $gray-light-color;
    height: 2rem;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    color: transparent;
    text-shadow: 0 0 0 $text-color;
  }
}
